# For installing custom versions of ray
--extra-index-url https://pypi.fury.io/pythonista/

# Reinforcement Learning
requests==2.23.0
tensorflow-gpu==2.6.4

# Versions of ray
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp37-cp37m-manylinux1_x86_64.whl
# ray==0.8.4
# ray==0.9.0.dev0
dm-tree

# Tune
tabulate==0.8.6
tensorboardX
pandas # Pandas needed in Tune

# RLLib
pyyaml
gym[atari,box2d,classic_control]
opencv-python-headless
lz4
scipy
GPUtil

# Debug
psutil
setproctitle
py-spy>=0.2.0
